<mat-list>
  <div mat-subheader>
    <span>Devices</span>
    <span class="spacer"></span>
    <button matTooltip="Add" mat-icon-button (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button matTooltip="Refresh" mat-icon-button (click)="loadDevices()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div *ngFor="let device of devices">
    <mat-list-item>
      <mat-icon mat-list-icon>devices</mat-icon>
      <div mat-line>{{device.name}}</div>
      <button matTooltip="Delete" mat-icon-button (click)="deleteDevice(device.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>

  <div mat-subheader *ngIf="devices.length == 0">No devices found...</div>
</mat-list>
