<app-toolbar></app-toolbar>

<mat-drawer-container class="container-full-height">

  <mat-drawer [class]="!isMobileLayout ? 'full-drawer' : ''" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="/">
        <a matLine *ngIf="!isMobileLayout">Home</a>
        <mat-icon [class]="isMobileLayout ? '' : 'spacer-left'">home</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="/music">
        <a matLine *ngIf="!isMobileLayout">Music</a>
        <mat-icon [class]="isMobileLayout ? '' : 'spacer-left'">music_note</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="/converter">
        <a matLine *ngIf="!isMobileLayout">Youtube Converter</a>
        <mat-icon [class]="isMobileLayout ? '' : 'spacer-left'">play_arrow</mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="/settings">
        <a matLine *ngIf="!isMobileLayout">Settings</a>
        <mat-icon [class]="isMobileLayout ? '' : 'spacer-left'">settings</mat-icon>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
