.spacer {
  flex: 1 1 auto;
}

.left-spacer{
  margin-left: 1.5rem;
}

.circle-red {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: red;
}

.circle-green {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: green;
}
