<div style="display: flex;" fxLayoutAlign="space-around center" class="spacer-top" id="color-picker-container"></div>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <button class="spacer-top" mat-raised-button color="accent" (click)="onOff()">Off</button>

  <button class="spacer-top" mat-raised-button [color]="isRainbow ? 'primary' : 'accent'" (click)="doRainbow()">
    Rainbow
  </button>

  <button class="spacer-top" mat-raised-button [color]="isMusic ? 'primary' : 'accent'" (click)="doMusic()">
    Music
  </button>

  <button class="spacer-top" mat-raised-button [color]="isRainbowEq ? 'primary' : 'accent'" (click)="doRainbowEq()">
    RainbowEQ
  </button>
</div>
