<mat-list>
  <div mat-subheader>
    <span>Videos</span>
    <span class="spacer"></span>
    <button (click)="openAddDialog()" matTooltip="Add" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="loadVideos()" matTooltip="Refresh" mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div *ngFor="let video of videos">
    <mat-list-item>
      <mat-icon mat-list-icon>movie</mat-icon>
      <div mat-line>{{video.title}}</div>
      <button [matTooltip]="video.hint" mat-raised-button [disabled]="video.convertStatus < 2"
              [color]="video.convertStatus == 3 ? 'warn' : 'primary'">
        {{video.convertStatus == 3 ? 'Error' : 'Download'}}
      </button>
    </mat-list-item>
    <mat-progress-bar *ngIf="video.convertStatus < 2" [value]="video.downloadProgress / 2 + video.convertProgress / 2"
                      [mode]="video.convertStatus == 1 ? 'determinate' : 'indeterminate'"></mat-progress-bar>
    <mat-divider></mat-divider>
  </div>

  <div mat-subheader *ngIf="videos.length == 0">No videos found...</div>
</mat-list>
